[2019-09-10 16:07] danjm opened #1 "Get LoginPerSite and metamask-plugin-beta/develop up to date"
Rebase `metamask-extension/LoginPerSite` on `metamask-extension/develop`, and `metamask-plugin-beta/develop` on `metamask-extension/LoginPerSite`

[2019-09-10 16:11] danjm opened #2 "Update ui to properly display plugin permission requests"
Currently there are two plugin permissions:
- `eth_addPlugin_*`
- `eth_runPlugin_*`, which then also requests plugin specific permissions to use various apis

We need to update the UI so that descriptions in the permissions request UI are displayed propery

[2019-09-10 16:19] danjm opened #3 "Update `json-rpc-capabilities-middleware` to correctly handle wildcard requests"
Requests of the form `eth_addPlugin_*` are not correctly recognized by the relevant methods in  `json-rpc-capabilities-middleware`. A PR needs to be made against that branch.

[2019-09-10 16:24] danjm opened #4 "Ensure plugins are properly persisted and restarted"
We need to make the following work:
- user installs and activates plugin
- user logs out and/or closes the browser
- user opens browser and logs back in
- plugin is activated again, behind the scenes and without user action

[2019-09-10 16:27] danjm opened #5 "Properly handle requests to install a plugin that has already been installed"
If an `eth_addPlugin_*` request is made for a plugin that has already been added, we need to handle it gracefully.

Likely we want to return a message or object to the requester.

A case to consider is whether the plugin code has been added, but the plugin is not "active". We perhaps need to show another permission request to run the plugin.

[2019-09-10 16:42] danjm opened #6 "Add support for basic plugin UIs"
It would be good if we had basic UI support for plugins.

For alpha, perhaps as simple as a page in the extension where there are a list of plugins, and clicking them renders content inside an iframe.

[2019-09-10 18:56] danjm opened #8 "Documentation"
Need to document how to create a plugin

[2019-09-18 16:30] #2 closed, assigned to nobody

[2019-09-18 17:11] danfinlay opened #10 "Refine installation flow"
The current `forceParams` request to install then install flow feels a little clunky to me. This issue will be for discussing the API for installing a plugin.

I was thinking we could unify the installation of the plugin with the permission to connect to it, maybe something like this:

[code]

[2019-09-18 19:07] #3 closed, assigned to nobody

[2019-09-20 21:40] danfinlay opened #27 "Should throw error when unknown permission is requested"
Like a method not found error, maybe? Or do we want to support partial-resolutions? Might be nice to fail-hard by default, but allow a dapp to provide a parameter specifying that it's okay if a feature isn't supported, just leave it out?

Currently we display any unknown permissions to the user, and that's bad, b/c they could approve something that _eventually_ becomes a permission.

[2019-09-26 17:01] wighawag opened #30 "Do not provide "origin" to plugins when invoking their registered RPC methods without permission"
hey great initiative and great work with the plugin system
That's really cool to have that to experiment new things!

The idea I would like to implement is an encryption/ decryption api

For that I want to get access to the origin of the app requesting encryption/decryption (the app using the plugin)
This is so that encryption is sandboxed to the origin of the app, and not of the plugin (and that

[2019-09-29 22:20] danfinlay opened #31 "Performance issue: setTimeout handlers"
It seems that the performance hit we've noticed on this branch is related to Sentry.

To see for yourself:
- Open the background console
- Select "Verbose" logging.

<img width="866" alt="Screen Shot 2019-09-29 at 3 20 13 PM" src="https://user-images.githubusercontent.com/542863/65840335-b0dd2700-e2cc-11e9-9f4d-3726d72b796b.png">

Notice that there are lots of these messages:
[code]

[2019-10-01 15:37] rekmarks opened #38 "Add permissions for global objects/APIs"
As noted in #30 and elsewhere, a plugin should have to request the globals it needs by means of permissions.

We need to check this permission and dynamically select the requested globals before the plugin code is evaluated by SES.

[2019-10-01 15:59] #1 closed, assigned to nobody

[2019-10-01 16:15] #4 closed, assigned to nobody

[2019-10-01 16:20] #8 closed, assigned to nobody

[2019-10-01 22:16] danfinlay opened #40 "runPlugin permissions prompt rendering method names instead of description"
the `restrictedMethods` entries have a `description` field intended for rendering to a user who confirms it.

When installing a plugin, its manifest triggers a permissions prompt of its own, but this prompt seems to play by different rules: It renders methods by method name, not by description.

[2019-10-02 05:29] #40 closed, assigned to nobody

[2019-10-02 22:24] loredanacirstea opened #43 "Docs enhancement - plugin system sequence diagrams"
I went through the code and created some sequence diagrams of how the plugins system works (registration & plugin method call).

Let me know if you think these would be useful for others and I can make a PR.

SVGs are also available. Diagrams were made with https://bramp.github.io/js-sequence-diagrams (I have my own editor with live preview & various diagrams support) - source code below.

## conn

[2019-10-03 16:35] danfinlay opened #45 "Add plugin update mechanism"
Static plugins have limited utility:
- They cannot receive improvements
- They cannot improve fixes
- They cannot receive security improvements

For these reasons, we should not ship any plugin system without a robust plugin-update system.

This thread will serve as a place to discuss the beginnings of this aspect of the system.

[2019-10-03 16:58] danfinlay opened #46 "Remove stray console.logs"
We've used this branch pretty freely, and so if we were ever to merge it, we would need to comb through and remove the many stray console messages lying about.

[2019-10-03 17:18] #43 closed, assigned to nobody

[2019-10-03 17:26] rekmarks opened #47 "Break out bundle loading into its own module"
Loading the plugin bundle on plugin install is currently handled directly in the plugins controller, and accepts `http(s)` locations only. When we want to allow e.g. `ENS/IPFS`, we should break this logic into its own module. Such a module could also handle bundle parsing and validation before passing it to SES.

[2019-10-03 17:35] rekmarks opened #48 "Stop preserving plugin `initialPermissions` in plugin state; just use the permissions controller"
We should stop preserving plugin `initialPermissions` in plugin state and just use the permissions controller to figure out what permissions have been granted to existing plugins.

`initialPermissions` should be for the initial, installation permissions request only. If the plugin controller ever needs to check what permissions a plugin has, we need to pass it that ability from the permissions con

[2019-10-04 00:16] jennypollack opened #50 "add settings page"
- [ ] list installed plugins
- [ ] list all permissions

[2019-10-04 12:41] danfinlay opened #52 "Allow Plugins to display custom confirmations"
Currently roughly provided by the alert method.

Should allow custom UI, probably within a frame giving context about the requestor.

[2019-10-07 07:52] danfinlay opened #53 "Pass `wallet` API in as parameter, not as global"
By exposing the `wallet` API as a global variable, we expose it (and the plugin's restricted methods, which may be sensitive) to not just the plugin's entry point, but all of its dependencies, making plugins more prone to dependency supply-chain attacks.

Instead, we could require plugins export an object or function, which would allow us to pass in authority in a more controlled way. For example,

[2019-10-09 00:23] danfinlay opened #54 "Put event listeners behind restricted method system"
Exposed for now because our permissions system does not support event listeners yet.

[2019-10-10 17:04] filips123 opened #60 "Support for other cryptocurrencies/cryptographies"
**What problem are you trying to solve?**

MetaMask only supports Ethereum-compatible networks. However, there are a lot of other blockchains and cryptographies which aren't currently supported in MetaMask. To make MetaMask true Meta-Wallet, more cryptocurrencies and cryptographies should be supported.

(I don't know if this is a correct repository for this request, but you can move it if needed.)

[2019-10-10 17:05] filips123 opened #61 "Build for Firefox"
Can you also build this beta version for Firefox?

[2019-10-12 01:21] danfinlay commented on #61
Added, but it may not work, we haven't been testing on it yet: https://github.com/MetaMask/metamask-plugin-beta/releases/tag/devcon

[2019-10-12 01:21] #61 closed, assigned to nobody

[2019-10-12 01:21] danfinlay commented on #61
Feel free to open a new issue if it is not working ;)

[2019-10-12 01:24] danfinlay commented on #60
Both cryptocurrencies and cryptographies can be described as plugins. We may build official modules for them soon, but first we are shipping the framework, so we do not need to be the only team securely contributing them.

[2019-10-12 01:49] #60 closed, assigned to nobody

[2019-10-12 03:07] filips123 commented on #60
@danfinlay When it is expected for plugins framework and cryptography plugins to be added?

[2019-10-12 03:10] danfinlay opened #62 "Research requirements for Maskbook plugin"
Maskbook.com

From me:

From yisiliu:

Posting here for more discussion

[2019-10-12 03:27] danfinlay commented on #60
The plugin system is likely to roll out over the course of the next year. New cryptography plugins should be available immediately, as we already have working examples of two types, bls signatures and zk-starks.

[bls signer example](https://github.com/MetaMask/mm-plugin/tree/master/examples/bls-signer)

[2019-10-12 07:18] Jack-Works commented on #62
Hi, the "" permission is "webNavigation" in the manifest file.

Maskbook use this permission to let the script of Maskbook inject to Facebook as early as possible. ("document_start" in the manifest file is not early enough).

And on Chrome, there is no `chrome.contentScripts` API (Firefox does), so without the "webNavigation" permission, Maskbook cannot inject content script with the optional perm

[2019-10-16 14:38] Tedko commented on #62
@danfinlay  What's your opinion? :D

[2019-10-17 02:17] jvluso opened #64 "Cannot find module: @babel/runtime"
I'm trying to get started and am getting an error when I try to build the current version.
[code]
I've tried installing babel/runtime, and reinstalling gulp

[2019-10-17 09:27] 3esmit opened #65 "Interoperable web3 plugins"
## What problem are you trying to solve?
Currently there are several browsers, and each one of them have a different api for their "addons", some not even support.
Status.im also is working on extensions for web3, but currently developers have to write the DApp plugin for MetaMask and for Status.

## Describe the solution you'd like
I want a universal API and binaries that work in any web3 browser

[2019-10-20 23:15] danfinlay commented on #62
I was actually hoping to get a higher-level description of your needs: Rather than listing the current WebExtension APIs that you use, I was hoping to refine the definition of the minimum possible API that MetaMask could provide to enable the same use case.

One way I can tell that WebExtension's APIs are failing here is that the permissions you're requesting don't sound obviously related to what

[2019-10-21 18:54] bitpshr commented on #53
Note: this should include updating examples.

[2019-10-21 19:22] danfinlay commented on #53
Examples: https://github.com/MetaMask/mm-plugin/tree/master/examples

[2019-10-22 15:48] danfinlay commented on #65
Oh hey, sorry for the slow reply, took a week off after Devcon.

We largely chose JS because:
- Most of the libraries we want to support are already in JS.
- We have an extremely lightweight containment strategy (SES).

Also, since JS is the native web environment, anything that can be done in the browser (including running a compiled Lua addon) can be done within JS, probably via a WASM compiled

[2019-10-22 15:56] danfinlay commented on #64
Sorry for the slow reply, took a week off right after Devcon. We're back now!

Did you `npm install`, or did you follow [the readme](https://github.com/MetaMask/metamask-plugin-beta/blob/develop/README.md), which recommends using node v10 and `yarn` to install the dependencies?

[2019-10-22 15:57] rekmarks commented on #64
To add to Dan's question, what script from `package.json` are you running when you encounter this error?

Edit: Ideally, it should be `yarn start`.

[2019-10-22 17:00] jvluso commented on #64
Updating node and using `yarn` and `yarn dist` instead of `npm i` and `npm run dist` solved the problem. Thank you.

[2019-10-22 17:00] #64 closed, assigned to nobody

[2019-10-22 17:53] rekmarks opened #68 "Add method for getting permitted plugins"
There's no dedicated way for domains to check if a plugin is installed _and_ permitted. We should add an external `wallet_` RPC method to check whether a plugin is installed, and potentially get metadata about e.g. the version and so on.

This suggestion did not originally contain the "permitted" condition. We should not let external domains poll for plugins without having permissions to them.

Th

[2019-10-22 19:33] 3esmit commented on #65
Hey, no problem, yeah I know how that trips wear us out!

# Interoperability

Currently Status.im uses ClojoreJS for extensions, which compiles into JavaScipt, so would be easy for MetaMask supporting a compiled ClojureJS extension. However we need to solve the dependency problem.. Not all plugins that work in one browser might work in other because of some dependencies.

Status.im plugins can int

[2019-10-22 22:05] danfinlay commented on #68
This could be a privacy leak. When is it valuable to detect a plugin without just asking permission to interact with it?

[2019-10-23 05:42] Jack-Works commented on #62
Maskbook will request access for a certain site (like facebook.com or twitter.com) if user choose to connect their facebook/twitter account.
After the permission is granted, Maskbook will be able to read the post and try to decrypt them. When user create encrypted posts by Maskbook, Maskbook will automatically paste the encrypted post into the post box of facebook/twitter but not sending them auto

[2019-10-23 14:33] rekmarks commented on #68
This suggestion originally came from @oed. The goal is for consumers of our API to have a means of checking whether a plugin is installed without initiating the installation or permission request flow. This would enable better UX, e.g. by not displaying the `Connect` button if the plugin is already installed.

Always reinstalling the plugin when the permission for it is requested is (as discussed

[2019-10-23 14:58] oed commented on #68
@danfinlay Right now when you ask for permission the install plugin is always displayed. If in the future that is only displayed if you have not yet been granted permission I think that would be fine as well. At least for my use case.

[2019-10-23 19:34] danfinlay opened #69 "Add method for plugins to export app keys"
I'm not sure whether we should trust plugins to generate their own app keys (probably?), but since some account types aren't even key pairs, we might want to also provide some default key generation.

Relevant code [here](https://github.com/MetaMask/metamask-plugin-beta/blob/5cc1cf32fbef9bad5fc2ed0c6297eb8721991490/app/scripts/controllers/accounts.js#L159).

To allow total interacting between plug

[2019-10-23 21:26] danfinlay opened #71 "Localize permissions descriptions"
Not only should we have translations on permissions descriptions, it is probably a good time to further enhance the resilience of our translation merging process, because permissions descriptions are so critical to the security of the system.

One idea is to have a bot that runs proposed translation changes through multiple translation services and presents them in a comment for easier human revie

[2019-10-23 21:54] danfinlay opened #72 "Define minimal set of initial features"
Right now this plugin branch represents a vibrant assortment of APIs that we have not firmly committed to supporting.

In practice, we will want to roll out APIs as we're ready to endorse their security and support them.

To do this, we will need to refine our management of this repo a little bit.

Maybe:
- Keep a simplest and most secure branch which represents our most-prod-ready branch.
- Keep

[2019-10-23 22:02] danfinlay opened #73 "Allow plugin permissions without closing confirmation box"
Currently if you request a plugin installation, you get one confirmation to request installation, and a second for its permissions.

We could improve performance a bit by preventing this momentary window-close, and reuse the window we've already initialized to make both requests.

[2019-10-23 22:33] danfinlay opened #74 "Reduce permissions history bloat"
I think I found part of why my plugin extension is getting slow: We're recording every permissions act ever made, and including it in the state provided with each UI update. This is unreasonable.

We need to either cut this history short, or store it in a separate portion of state that is not constantly included with the UI.

Related to https://github.com/MetaMask/metamask-extension/issues/7311

[2019-10-24 11:39] rekmarks commented on #74
Some notes on this:
- There are technically two permissions logs in state, the history and the activity logs. They're managed by the same middleware.
- The history log keeps track of which domains have had which permissions. It doesn’t have a limit, but it grows slowly, and I can’t imagine it’s causing our performance issues.
- The activity log records, as mentioned, everything, but it’s capped at

[2019-10-24 12:11] rekmarks opened #75 "Internal wallet methods vs wallet RPC methods"
Currently, restricted methods defined directly in the `restrictedMethods` file are called using `wallet.send({ method, params })`, while internal MetaMask methods are calling using `wallet.methodName(...)`. This is not documented very well, and we should perhaps consider using the RPC API for everything except special methods like `registerRpcMessageHandler`.

[2019-10-28 08:26] Bunjin commented on #45
I'm still working on it but I had a few ideas about adding 2 features which plugins can requestPermission to use :
- **Track updates** (maybe makes this a base feature for any snaps): This will track the url (http, ipfs, ens) where the snap is hosted and it can detect that the plugin was updated (we may need to add some signature mechanism to make sure that the url wasn't hijacked). Then it can pr

[2019-10-28 08:36] Bunjin commented on #45
Related question:
Did you guys think about a mechanism for snaps requiring other snaps? (similar to dependencies)
Imagine I need a state channel snap for my gaming or dex snap.
If so, then we need a way to specifiy which version of the dependency snap is being used. And then potentially to handle several versions of the same snap in case a snap that requires it hasn’t updated to the latest version

[2019-10-28 23:05] danfinlay commented on #45
The versioning question is important, and we had a good thread in a DM about this, sharing a bit here for others.

Basically, we think dapps/snaps should be able to request a security model for a dependency, and the user should be able to heighten the security around it (like requiring confirmation to receive updates).

3 options there too from the user perspective:
- refuse trackUpdates and thus

[2019-10-28 23:37] danfinlay opened #78 "Publish EIP on appKey method we are using"
We are using a variant of EIP 1775, and we should document it, either by updating that EIP, or by submitting a new one.

[2019-10-29 05:01] jennypollack opened #79 "walletSendDomainMetadata causing unauthorized error in dapp console"
- [ ] Logs an inaccurate unauthorized error in dapp console when
requesting permissions. Permissions request still succeeds.

[2019-10-29 07:31] Bunjin commented on #78
I can help updating EIP 1775 if required.

[2019-10-29 07:40] Bunjin opened #81 "Add a Security and Update model for snaps dependencies."
Thinking about a mechanism for snaps requiring other snaps (similar to dependencies)

[Pasting here a discussion we had on slack with Dan regarding this]

Imagine I need a state channel snap for my gaming snap.
If so, then we need a way to specify which version of the dependency snap is being used. And then potentially to handle several versions of the same snap in case a snap that requires it has

[2019-10-29 07:41] Bunjin commented on #45
Yes I'm making another issue with the discussion about the security and updating models for snaps dependencies.

https://github.com/MetaMask/metamask-plugin-beta/issues/81

[2019-10-30 05:09] jennypollack commented on #79
`method: "wallet_sendDomainMetadata"`

[code]

[2019-10-30 06:45] danfinlay opened #82 "Maybe: Add API for declaring/requesting a specific protocol"
Today, we have exposed two methods for plugins to provide APIs, but when dapps or other plugins want those methods, they have to reference the providing plugin by origin, which is a very concrete form of version control.

In some cases, multiple plugins may choose to compete to best implement an equivalent protocol API, and a user might choose one over another.

For example, in the short term, the

[2019-10-30 11:04] jennypollack opened #83 "cb is not a function error on successful metamask_state updates from plugins"
the functionality is working, but the errors are annoying
[code]

[2019-10-30 16:21] jvluso opened #84 "No stack when evaluating plugin in SES"
I'm trying to add a dependency to a plugin that I'm building, and when I run build I get the error `possible html comment syntax rejected around line 30033` I'm pretty sure that this means that there is something in the dependency which isn't able to be run in the ses container, but it would be helpful to have a stack trace so that I know what needs to be fixed. I already made a [comment](https://

[2019-10-30 16:46] rekmarks commented on #84
The `around line XXX` message appears to be the closest thing we can get to a stack when evaluating something in SES. I believe the reason this particular error isn't handled by our build script is because SES did not check for HTML comment syntax when we first wrote it. (They started to do so because of a critical security vulnerability related to HTML comments.)

If you share a link to your repo

[2019-10-30 22:06] rekmarks opened #85 "Improve Performance"
#### Summary
Performance is less than ideal in the plugin system right now. On some devices, the extension takes forever to open or display confirmations. We'll use this issue to track this problem.

#### Behavioral Notes
- The more plugins that open, the longer the extension popup stays in a blank or otherwise loading state when opened.

#### Related Issues
- [ ] https://github.com/MetaMask/metam

[2019-10-31 01:19] jvluso commented on #84
https://github.com/jvluso/metamask-plugin-beta/tree/transaction-plugin
I don't know what the line is that is having the issue because it is buried somewhere in the web3 dependency.

[2019-10-31 01:40] Gudahtt commented on #31
I'm not sure I follow how this relates to Sentry; are those warning line numbers within Sentry code?
I suspect those warnings are issued by Chrome (e.g. https://stackoverflow.com/questions/41218507/violation-long-running-javascript-task-took-xx-ms)

[2019-10-31 04:52] jennypollack commented on #31
#37 disabled sentry, so title is misleading, changed

[2019-10-31 20:25] rekmarks commented on #84
What's your intent with using `web3` in the plugin? If you require an Ethereum convenience library, we recommend [ethers.js](https://www.npmjs.com/package/ethers), as we believe we'll have an easier time getting it running in SES. We haven't tested that out ourselves yet, but if you encounter any problems, we will help you out.

I also recommend that you:
- Fork https://github.com/MetaMask/mm-plug

[2019-10-31 22:35] rekmarks commented on #83
Ah, seems like stuff is missing because the calls or occurring in a plugin context. Would you be willing to open a PR fixing that error (e.g. making `cb = () => {}` by default, just something simple)?

[2019-10-31 22:38] rekmarks commented on #79
This was due to issues with `metamask-inpage-provider` that are now resolved. We are henceforth only using this branch: https://github.com/MetaMask/metamask-inpage-provider/tree/plugins

[2019-10-31 22:38] #79 closed, assigned to nobody

[2019-11-01 00:23] rekmarks commented on #78
Resources
- Algorithm described in the Ethereum Magicians [app keys EIP thread](https://ethereum-magicians.org/t/eip-erc-app-keys-application-specific-wallet-accounts/2742/37)
 - Algorithm implemented in [eth-simple-keyring](https://github.com/MetaMask/eth-simple-keyring/blob/6d12bd9d73adcccbe0b0c7e32a99d279085e2934/index.js#L139-L152)

[2019-11-02 00:50] rekmarks commented on #27
I'm not sure if the "unknown permissions" are plugin-specific or dapp-specific. Please see the following PR: https://github.com/MetaMask/metamask-plugin-beta/pull/87

[2019-11-02 17:03] danfinlay opened #88 "Ensure plugin storage is separate from extension storage"
To prevent collisions with the extension, including overfilling storage.

Related to
https://github.com/MetaMask/metamask-extension/issues/7311

Ideally includes a restriction on amount of storage.

[2019-11-02 22:28] danfinlay opened #89 "Add API for notifying plugin when connection to page is closed"
For proper memory management.

[2019-11-03 06:21] danfinlay opened #92 "Asset controller not properly de-duplicating on `add`"

[2019-11-04 05:05] danfinlay commented on #82
One important use case is ensuring that accounts managed by these app keys could be migrated in case that a plugin domain is no longer maintained.

One permission could be to manage accounts on behalf of a former domain, like a sort of import.

Another possible permission is requesting the right to manage keys for a given bip39 path. Known paths could easily be represented as their target protocol

[2019-11-04 21:52] jvluso commented on #84
My overall goal is to include the Aragon API which uses web3 extensively to build a signer for Aragon DAOs. I know it has its problems, but I don't think I'll really be able to get around it soon.

Deleting the dist while fixing the git config seems to have solved the problem I was having. Hopefully agoric can work on the error message that was being generated.

[2019-11-05 19:17] danfinlay opened #93 "Add checksum to "bundle" field of plugin package.json"
Along with adding more decentralized distribution channels, having the checksum encoded would ensure we could load plugins with integrity.

[2019-11-05 19:19] danfinlay opened #94 "Revisit plugin installation API surface"
Using string concatenation is a bit awkward. Let's explore alternative plugin installation semantics.

Raised by @whymarrh, but I'd known someone would raise it eventually ;)

[2019-11-05 22:29] danfinlay commented on #68
Yes I agree this is fine. We could already easily do a check: If the plugin is installed, only ask the user to connect to it. Right now we always re-install really just as a developer convenience feature, but we should probably replace it as soon as we have a reasonable plugin-update mechanism (maybe the `mm-plugin serve` API could host a websocket that notifies it to reload for now).

I'm not cer

[2019-11-05 22:34] danfinlay commented on #62
So for right now, Maskbook could operate entirely with:

- permission to view & edit info on twitter and facebook

And you wouldn't even need ability to access the internet?

We provide keys to every plugin, so you don't even need permission for that.

This would represent very strong privacy guarantees, and I think I can endorse giving you a method to edit these sites.

## Async Site Editing

Now

[2019-11-05 22:38] danfinlay commented on #65
That Luakit browser looks very cool. I really do think taking browsers back to the root is a good direction long term, as the modern web just leaks too much authority, the user has very little control.

Wow, I hadn't seen [status-js-client](https://github.com/status-im/status-js-api) before, but it totally would make sense as a mm-plugin. It could likely enable users to sign into status chats from

[2019-11-05 22:40] danfinlay commented on #65
Does the js client need anything a browser environment doesn't have available? Our usual problem as a browser tool is that we can't use whisper b/c it uses tcp.

[2019-11-05 23:02] rekmarks commented on #84
Got it. We'd be really excited to see an Aragon plugin!

MetaMask has a great relationship with Agoric, and I'll see if we can do anything to improve the SES error stacks. Meanwhile, I'll close this, and feel free to open a new issue if you encounter any other problems.

[2019-11-05 23:02] #84 closed, assigned to rekmarks

[2019-11-05 23:32] rekmarks commented on #94
I think my preferred solution would be to keep the namespaced permissions and define a method that looks like:
[code]

We could also use that method and have a single permission for all plugins, that identifies the specific plugins using a named caveat:
[code]

Did you have any other ideas?

[2019-11-05 23:50] danfinlay opened #95 "Minimal Multi-Network MetaMask Using Plugins"
MetaMask has been tied to a multi-network single-transaction controller architecture for a long time, and there has been a long running initiative to get us to a place where we can support multiple networks for a long time.

What exactly this will look like has been unclear, but given the context of the plugin system, I would like to suggest a new and simple path:

## Ethereum by Default, Test Net

[2019-11-06 08:54] oed commented on #68
This is fine if: The user is only asked the first time they use app A that uses plugin B. The second time the user comes to app A they should not have to reaffirm that app A can use plugin B (it's fine if there is some timeout here).

[2019-11-06 11:28] jazzandrock opened #96 "Strange behavior with `ethers.js`"
**Describe the bug**
When I execute these lines in a plugin:
[code]
A prompt opens, as usual, to confirm signing, but instead of `"Message: login"` it says `"Message: 0x4d6174746572"`, which is login but hex encoded. Moreover, if I click `'sign'`, the prompt disappears, but `signer.signMessage` still never awaits.

**To Reproduce**
Steps to reproduce the behavior:
1. Open bls-signer in [mm-plugin]

[2019-11-06 17:35] danfinlay commented on #96
This is the normal behavior of the `eth_sign` method, which appears to be called by `ethersSigner.signMessage()`.

If you want a human-readable string, you can use any of the other methods. `personal_sign` is the easiest, but `signTypedData_v4` is the best for consuming on-chain.

Furthermore, since you're in a plugin context, you have access to your own deterministic private key, so you don't nee

[2019-11-06 17:53] danfinlay commented on #96
Well, we've reproduced. It does seem the dapp call is hitting `personal_sign` and the internal call is hitting `eth_sign`, we'll be investigating this.

[2019-11-06 17:54] danfinlay commented on #96
In the meanwhile, I'll just re-emphasize:

This allows:

[code]

[2019-11-06 20:02] whymarrh commented on #94
From _[Plugin API § Requesting a Connection to a Plugin](https://github.com/MetaMask/metamask-plugin-beta/wiki/Plugin-API#requesting-a-connection-to-a-plugin)_:

<blockquote>
<p>
When you request the permission to contact a plugin (as if it were a <code>restrictedMethod</code> named <code>wallet_plugin_${pluginOrigin}</code>), the user is prompted with a permission. If they consent, the plugin is

[2019-11-06 20:32] danfinlay opened #97 "Refine notion of plugin state per account"
There are some use cases where the notion of account is a bit broken under the current alpha plugin system.

## A few things that indicate the issue

- When logging into a site that needs a plugin, the user selects one account to log in with, and can select a different account to connect to the snap with.
- the plugin account becomes the source of its appkey, regardless of the account connected to

[2019-11-06 22:00] danfinlay opened #98 "Add a `secureEvaluate` API to snap environment"
The snap execution environment already uses SES, so we could easily provide snaps the ability to securely execute scripts within their own environment.

These scripts would have the same global API by default as snaps (not much, but whatever we deem globally safe), and it would allow for easy/safe (as safe as the snap system itself) extensibility within the snap ecosystem.

[2019-11-07 02:11] Jack-Works commented on #62
Alright, I thought connect to internet is too basic to mention. Maskbook need to connect to the internet to dispatch AES keys to other Maskbook users.
Maskbook is using GunDB (a decenterialized graph database) which is using WebSocket to connect to the bridge server. In future, Maskbook will connect to Matrix (a decenterialized IM protocol) by HTTPs.

Our infrastructure of injecting UI to the webp

[2019-11-07 13:32] rekmarks opened #99 "Possible Memory Leak: Plugin Providers"
We currently call `setupProvider` twice during the plugin installation flow, and I don’t see teardown code anywhere. Clearing plugin state probably isn’t enough.

`setupProvider` defined here: https://github.com/MetaMask/metamask-plugin-beta/blob/develop/app/scripts/metamask-controller.js#L1617-L1631

`setupProvider` called twice during plugin installation:
1. https://github.com/MetaMask/metamask-

[2019-11-07 14:13] rekmarks commented on #94
@whymarrh, in our current model, as far as the extension is concerned, a plugin is two things:
1. A manifest file (`package.json`)
2. A bundle pointed to by the manifest

The manifest is the entry point. Ideally, all things like hashes and so on are contained in the manifest. The URL of the manifest is currently the plugin's identity, but over time, I think we want to move away from that, and let

[2019-11-09 01:00] iquidus commented on #95
Overall this direction makes a lot of sense, and will more so moving forward. (Most users are only interested in mainnet), and of course I'm in favor of anything adding better/easier/smoother alternative EVM network support.

Could you elaborate further from a UX perspective?

common scenarios:
* mainstream ethereum user (nothing needs explaining, ethereum by default).
* developers, commonly switc

[2019-11-09 02:13] danfinlay commented on #95
Agreed.

Plugins are added at log-in time on a [per-dapp](https://eips.ethereum.org/EIPS/eip-2255) and [per-account](https://github.com/MetaMask/metamask-snaps-beta/issues/97) basis.

That plugin can display its assets in the token list alongside the user's other main-net assets (like Ropsten Eth, for example, with non-overlapping names, and assets being marked with the plugin that added them).

A

[2019-11-12 19:30] #92 closed, assigned to nobody

[2019-11-12 19:31] danfinlay opened #102 "Fix asset controller icon providing API"
Currently our `manageAssets` API does not actually allow custom asset icons. We should have this working for production.

[2019-11-12 19:33] danfinlay opened #103 "Selecting a custom asset should allow displaying a custom asset view"
This would be provided by the plugin providing the asset.

It would be where our current "deposit/send/history" view is now, but could be custom to that particular selected asset.

Currently custom assets can provide a link URL, we could simply open that URL in an iframe.

[2019-11-12 19:40] danfinlay opened #104 "Maybe: Allow permission to derive key from BIP44 path"
Today, if you wanted to make a Bitcoin plugin, for example, you would receive an appKey using our [appKey API](https://github.com/MetaMask/metamask-snaps-beta/issues/78) which would derive a private key unrelated to the [slip44 coin derivation path](https://github.com/satoshilabs/slips/blob/master/slip-0044.md) and instead be derived from the source of your plugin.

This is nice for simple use cas

[2019-11-12 19:40] danfinlay commented on #104
Not sure this needs to be an MVP-blocker, but depends on how we want to commit to a key derivation strategy for plugins.

[2019-11-12 19:50] danfinlay opened #105 "Custom asset design"
Some plugins require custom assets. This means a few touch points in the design:

## Appearing in the token list

A plugin gets to provide an asset in our "token" (now poorly named) list. The plugin gets to define the name, possibly even the icon, but we should indicate strongly what plugin this is coming from.

We can either indicate "[plugin name] asset" on each asset, or we could experiment wit

[2019-11-12 19:52] danfinlay commented on #72
A proposed initial production target, for which I've begun the [MVP-Blocker](https://github.com/MetaMask/metamask-snaps-beta/issues?q=is%3Aissue+is%3Aopen+label%3AMVP-BLOCKER) tag.

## Starkware MVP Plugin

A Starkware plugin is a strong plugin target because it

- Adds considerable utility immediately (a high-throughput exchange)
- Has the same requirements as any L2 scaling strategy (custom asse

[2019-11-12 19:54] danfinlay commented on #53
It is unclear whether the proposed approach had the benefit of mitigating the suggested attack. I have removed the blocker tag until we can further investigate whether there is a safe way to expose an object to a SES-confined script in a way that its dependencies don't necessarily also have global access to that object.

(The answer may simply be that the plugins would want to run SES around their

[2019-11-12 20:30] Bunjin commented on #78
I updated EIP1775
https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1775.md

Concerning BIP44 compliant HD keys, they are outside of the scope of EIP1775, see #104.

[2019-11-12 23:19] danfinlay opened #106 "Add API for message messaging/notification plugins"
At [last weekend's EthWaterloo hackathon](https://ethwaterloo2.devpost.com/submissions), two of the winning entries extended MetaMask to incorporate messaging!

- [Connexion](https://devpost.com/software/connexion-vy3a9c)
- [Wallet Notify](https://devpost.com/software/wallet-notify)

There is clearly a desire for a messaging/notification API, so I'm opening this issue as an initial catch-all for t

[2019-11-13 08:03] awalias commented on #68
what is currently the best way to check whether a user has previously granted a given permission for the current domain?

[2019-11-13 15:07] rekmarks commented on #68
@awalias I'll make sure this is added to the Wiki where appropriate but for now:

- We follow the spec we've made for permissions: [EIP 2255](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-2255.md)

- To know whether you have a certain permission, send a `wallet_getPermissions` request and search over the returned array of permissions objects.
  - The permission name is indicated by the `pa

[2019-11-13 20:30] Bunjin commented on #104
I agree, there is a lot of potential for this, which would allow MetaMask to become quite easily a multi crypto wallet which could be great for Decentralized exchanges/cross chain swaps for instance.
We can either share directly the root private key of depth 2 once the permission is approved
`m / purpose' / coin_type'`

or also include as a parameter (either as a field required and mentioned in pe

[2019-11-13 20:34] Bunjin commented on #104
Another question is : Do we allow for `value: 0x8000003c` which is Eth.
This would mean that a website would be able to gain control of an user already potentially funded accounts.

That may be the case too for other cryptocurrency if the user uses the same mnemonic in other crypto (non eth) wallets.

In any case, we need a HUGE red flag for any of these permissions and probably to present these h

[2019-11-13 20:45] Bunjin commented on #95
Long term, we could even extend this further and support non Ethereum networks in the same way

This alongside https://github.com/MetaMask/metamask-snaps-beta/issues/104 would unlock great features for multicrypto snaps

[2019-11-13 21:06] danfinlay commented on #104
I think at least initially we would disallow this, but I know that over time advanced users will request basically every possible permission, so I think it ultimately will come down to whether we can make the confirmation descriptive enough to endow the permission with the correct gravity.

[2019-11-13 21:10] danfinlay commented on #104
As for the derivation paths, it would be great to only expose a single key, but realistically, providing UI to intelligently show what key they are exposing, and what it puts at risk may be outside the scope of the feature: The feature exists largely so we can externalize the responsibility of representing protocols that other teams may be more expert on, and if we were able to tell you how valuab

[2019-11-15 19:29] rekmarks commented on #94
I took a stab at [rewriting this last week](https://github.com/MetaMask/metamask-snaps-beta/pull/87). @danfinlay expressed a desire to keep plugin installations as part of the permission request approval process. I would like for us to do so, but in working through this problem, I have come to believe that it would be a poor design.

In our current design, if an approved permissions request includ

[2019-11-15 19:47] danfinlay commented on #94
I'd like to clarify that my desire is not about keeping anything as it is, and more about "let's reason about any improvement more carefully, and make sure we've agreed on an approach before merging anything".

This follows well from the problems you laid out.

I like this because it achieves a goal I was also trying to express formerly, which is the desire for a "one call setup" for apps. It does

[2019-11-15 19:48] danfinlay commented on #94
Maybe we should pass our error object into plugins as an endowment. Every single example starts by requiring it. This is a lot of repeated code... or "Errors", the snap?

[2019-11-15 21:26] rekmarks commented on #94
Thanks for the feedback!

### Convenience Method Name

I was considering `wallet_enable`, and I think it’s ultimately a fine, uncontroversial choice. I’m down to stick with that.

### What's the `PluginObject` For?

Yup, it’s mostly an extensible placeholder. The absence of an `error` property on the `PluginObject` indicates that you’re good to go, and then we can tack on whatever else we want, li

[2019-11-15 21:34] danfinlay commented on #94
We already have a bit of a contradiction to that opinion in our notion of "unselectable" permissions. We've laid a path where an application may ask for one set of things, and the user may accept a subset of those instead.

Imagine a future where we add a `justification` field to the permissions request options object, and an application can display the reason that the application is giving for ea

[2019-11-15 22:06] danfinlay commented on #94
The rest of the comment btw I'm good with.

I kinda think we could cheaply achieve this effect by just converting it to the current string method:

[code]

[2019-11-15 22:07] danfinlay commented on #94
(I'm in favor of cheap superficial implementations at this early stage when we might still want to change how it works more)

[2019-11-15 23:02] rekmarks commented on #94
Re: the 'required' flag for permissions/plugins: that's fair, I'm okay with that!

You mean to say, we can use the API I suggested, but just convert to namespaced permissions when we receive the request for now (rather than constructing a caveat)?

I guess we'll see what @whymarrh says on Monday before I'm off to the races with this.

[2019-11-16 01:11] awalias commented on #68
thanks @rekmarks , I eventually got `wallet_getPermissions` to work - my problem was that simply having `import Web3 from 'web3';` (web3@1.2.4) in react was causing the `ethereum.send` with `wallet_getPermissions` to return `undefined`. I'm assuming it does something to the provider, but definitely not playing nice together atm. I switched to ethers.js for now and seems to be working ok.

[2019-11-16 03:18] jsdu commented on #106
Hi! I am one of the hackers who worked on Connexion.

Wallets are the first place users would look if they were to have a new message pop up.
It would be amazing if MetaMask had a tab called inbox. It would show a list of notifications and it would look very similar to the transactions view but styled accordingly. Handling messages would be determined by a standard that we should adhere to. There

[2019-11-17 15:59] xuhcc opened #108 "Can't connect to a plugin in Firefox"
**Describe the bug**

Metamask can't connect to a locally hosted plugin in Firefox:

[code]

**To Reproduce**

1. Build Firefox extension from `develop` branch.
2. Create a new 'Hello World' plugin with [Snaps CLI](https://github.com/MetaMask/snaps-cli).
3. Open plugin page in Firefox, press 'Connect' button.
4. Press 'Submit' in popup window.

**Expected behavior**

Metamask should connect to a p

[2019-11-17 16:39] rekmarks commented on #108
@xuhcc, thank you for bringing this to our attention. We're deploying a fix here: https://github.com/MetaMask/metamask-snaps-beta/pull/109

[2019-11-17 17:28] #108 closed, assigned to nobody

[2019-11-17 18:28] rekmarks commented on #96
This was related to different providers being injected into dapps vs plugins. The plugin provider is now a strict superset of the dapp provider, and I've confirmed that ether's `signer.signMessage('login')` works the same in both.

@jazzandrock, thank you again for bringing this to our attention, and let us know if you have any other problems.

[2019-11-17 18:28] #96 closed, assigned to nobody

[2019-11-17 22:57] xuhcc opened #110 "alert, confirm and prompt methods don't work on Firefox"
**Describe the bug**

It seems that on Firefox, `alert()`, `confirm()` and `prompt()` are not allowed in background scripts:

* `alert` method executes successfully, but it doesn't show any dialog boxes. These messages are printed to the browser console:

[code]

* `confirm` and `prompt` methods fail with this error:

[code]

**To Reproduce**

Execute `wallet.send({ method: 'prompt', params: ['tes

[2019-11-18 15:54] rekmarks commented on #110
@xuhcc, thank you for bringing this to our attention. We have plans to add a more comprehensive notification API that will be compatible with all browsers. This will unfortunately have to wait until we get around to that.

In related news, we've decided to make Google Chrome (and by extension, probably up-to-date Chromium browsers as well) the only officially supported browser for beta at this tim

[2019-11-18 15:54] #110 closed, assigned to nobody

[2019-11-18 19:03] danfinlay opened #111 "Design/finalize custom asset API"
The current plugin beta has a [custom asset management api](https://github.com/MetaMask/metamask-snaps-beta/wiki/Plugin-API#custom-asset-management), which allows plugins to list their assets in the main token list.

I say asset instead of tokens, because these don't need to be tokens, they can be anything a plugin chooses to render. So far we've seen a few of these built!:
- Layer 2 assets
- Othe

[2019-11-18 21:40] danfinlay opened #112 "Add snaps API for adding tab to transaction approval"
We have had a recurring idea from a couple possible snaps developing teams. The type of teams include:

- Contract security auditors
- Smart contract analyzers
- Smart contract decompilers
- Metadata decoders
- Gas price analyzers

These use cases would like to add an extra tab to the transaction confirmation screen (currently `Details` and `Data`). This would allow services to add an extra layer

[2019-11-19 20:50] crazyrabbitLTC commented on #112
Yes, it would be nice if we could have a part of the MetaMask UI to use to communicate information via the plugin. Plugins are great, but in terms of the idea of having a security auditor plugin, it would be good to be able to have some space to see data about what is being shown.

Also, the metamask UI might be a good location for plugings that have some sort of minimum settings required- for exa

[2019-11-19 20:51] crazyrabbitLTC commented on #112
I imagine this box could be identified by some sort of marker from Metamask saying something like, "This is a plugin, not Metamask" just to be clear.

[2019-11-20 00:14] rekmarks commented on #83
@jennypollack did we end up fixing this or is the problem still there?

[2019-11-20 18:42] danfinlay opened #115 "Determine security model for labeling plugins in UI"
Our current beta somewhat punts this issue: When referring to a plugin, we name it by entry-point (which is the most secure string we can render, but is not totally human friendly).

There are other points in the UI where we'd like to more gracefully refer to a given plugin, but we need to ensure:
- Plugins cannot impersonate primary MetaMask UI
- Plugins cannot impersonate other plugins

This iss

[2019-11-20 18:43] danfinlay commented on #112
To drill more carefully on the problem of labeling plugins within our UI, I've opened this issue: https://github.com/MetaMask/metamask-snaps-beta/issues/115

[2019-11-20 23:08] whymarrh commented on #94
Lots of good ideas here—I think @rekmarks has done a great job of describing the problems and how the solutions work.

I too am in favour of "cheap superficial implementations" in the spirit of iteration and trying on a few different APIs for style. I'm not sure what here would be implemented first, but as long as we're open to changing things I think we can start implementing ideas.

I like #87,

[2019-11-21 00:23] danfinlay opened #117 "Add "Reload Plugins" button"
We currently have two plugin-beta-specific buttons we're throwing at the bottom of the MetaMask UI:
- Clear plugin state
- Reset permissions

I propose we add another:
- Reload plugins

This would be intended to aid in development, when the plugin-adding flow is not the subject of the testing, but instead the plugin behavior is, but the plugin code has been updated at its source, and so the dev ju

[2019-11-21 20:17] crazyrabbitLTC commented on #115
Off the top of my head I guess a question is, how permissionless should this be? Certainly MetaMask makes a number of assumptions about how it's run, maybe the ability to control plugin identifications could simple be another one of those.

I imagine that at the start at least the number of plugins will be relatively small. The most secure way to prevent the listed problems would be to simply keep

[2019-11-21 21:33] danfinlay commented on #115
That's a pretty acceptable approach, and may be just what we need for our initial releases, when we'll probably be permitting plugins on an as-registered basis, but we should also consider longer term solutions here.

[2019-11-23 21:33] danfinlay commented on #38
Depending how tightly we want to be auditing our first MVP plugins, allowing at least the attenuation of network access (provide a minimal network-enabling proxy when a certain permission is granted) to the site.

We need to extend the permissions-controller so that its rpc-cap permissions schema can also receive and enforce limitations on local APIs, so we can restrict browser APIs to plugins (li

[2019-11-25 17:05] rekmarks commented on #94
Thanks @whymarrh for the feedback. I agree with you re: `wallet_invokePlugin`. I think the next step is to update #87 per this discussion. Here's what I plan to do.

### The Plan
1. Replace `ethereum.authorize(...)` with `ethereum.send('wallet_enable', { ... })` as defined above, preserving the one-function-call connection for dapps
2. Largely keep the plugin installation flow defined in #87, incl

[2019-11-25 17:38] danfinlay opened #118 "Implement security audit feedback"
Sharing openly since none of this is in production yet, a few action items we'd like to complete before we bring any to production: https://docs.google.com/document/d/1VIZ77C5OEoGbTNFUW8nTL7oguFfNNevoy6gcDCiCKkI/edit#

## Things to do before MVP
- [ ] Disable SES error stack in production environment builds.
- [ ] Remove `submitPassword` and `getState` from restricted methods, at least.
- [ ] Ensu

[2019-11-25 18:02] brantlymillegan commented on #106
I wanted to just alert people if they didn't already know about another project trying to do something similar to this. Might want to include them in conversations? https://mailchain.xyz/

[2019-11-25 18:13] danfinlay opened #119 "Standardize thrown errors"
https://github.com/MetaMask/metamask-snaps-beta/pull/63#discussion_r345285214

[2019-11-25 19:31] tboeckmann commented on #106
Thanks @brantlymillegan - I saw Connexion and Wallet Notify liking their approaches a lot!

At Mailchain, we've created an offering for what we believe the standard for sending asynchronous messages using blockchain protocols should be. We built the Ethereum implementation initially and it works across testnets and mainnet.

Specification: https://github.com/mailchain/mailchain-specification

We w

[2019-11-25 19:38] Solexplorer opened #120 "Build installed with yarn start, doesn't work"
**Describe the bug**
A clear and concise description of what the bug is.
I have followed the instructions in [here](https://github.com/MetaMask/metamask-snaps-beta/wiki/Getting-Started) and have successfully installed packages with `yarn install` and did run `yarn start`.
When I try to load unpacked extension it throws me this error:
![image](https://user-images.githubusercontent.com/50027175/6957

[2019-11-25 19:40] Solexplorer commented on #120
Btw, how do I join team metamask_plugins that @danfinlay said in his [medium post](https://medium.com/metamask/introducing-the-next-evolution-of-the-web3-wallet-4abdf801a4ee)?

[2019-11-25 20:25] rekmarks commented on #120
@solexplorer, are you on Windows? We have not tested or developed for Windows, and I'd expect it to not work at this point. We hope to add Windows support for plugin development in the not-too-distant future.

Regarding communication channels, we recommend our Telegram group, here: https://t.me/mmsnaps

[2019-11-25 20:36] rekmarks opened #121 "Ensure proper Windows support"
The status of our Windows support is unclear. `snaps-cli` and path resolution when loading plugin manifests may not work.

Related: #120

[2019-11-25 21:34] lazaridiscom commented on #120
Just tried, this works on my side.

Though some errors are listed after i install it in chrome, i can create a wallet and mm appears normal.

The errors are (chrome://extensions listing, Metamask's section DETAILS, REMOVE, **ERRORS** )

[code]

seems non-critical errors, as mm starts normally.

## Recreation

[code]

then add `mm-snaps/dist/chrome` as an unpacked extension.

## System

[code]

[2019-11-25 21:39] lazaridiscom commented on #121
As reported within https://github.com/MetaMask/metamask-snaps-beta/issues/120#issuecomment-558350329 a quick test worked on my win10 native side.

You should possibly raise the priority here, nix-win-mac trio should be a "must" requirement, even during development.

[2019-11-25 23:03] danfinlay opened #122 "getAppKey() is not properly deriving a new key"
While making [a simple ethers.js example snap](https://github.com/MetaMask/snaps-cli/pull/40) I found that the `getAppKey()` API is currently returning `Promise<currentAccountPrivateKey>`, yes, it's the account's private key, not a unique key to the domain. No idea which layer of the stack this is going wrong at, pretty sure we have lots of tests at the low levels, so we may be mis-using the keyri

[2019-11-26 00:00] #50 closed

[2019-11-26 01:05] jsdu commented on #106
@tboeckmann For my question of whether to use events, I was talking about Solidity events. I was thinking how would encrypted data be shared to another user, whether it is with a function call to store the message in state, to use Solidity events, or to simply attach it to the data field of a transaction.

I think layer 1 messaging would be detrimental in terms of user experience as each tx requir

[2019-11-26 06:06] Solexplorer commented on #120
Wait, I cloned metamask-plugin-beta as outlined by the wiki not metamask-snaps-beta. What is the correct repo ?

[2019-11-26 15:18] rekmarks commented on #120
The correct repo is `metamask-snaps-beta`, although `metamask-plugin-beta` should point to that.

[2019-11-26 16:03] lazaridiscom commented on #120
Maybe update the docs to avoid confusion.

[2019-11-26 16:17] #122 closed, assigned to nobody

[2019-11-26 18:57] danfinlay commented on #38
Opened a discussion for making some common API proxies here: https://ocapjs.org/t/published-attenuating-proxies-for-common-web-apis/123

[2019-11-27 01:06] xuhcc opened #124 "Can't use address with checksum as a custom account"
**Describe the bug**

The `eth_accounts` call returns empty array when I register checksummed address as a custom account. It works properly if provided address is in lower case.

**To Reproduce**

1. Add custom account by calling `wallet_manageIdentities` method with these params:
`['add', {address: '0xBB9bc244D798123fDe783fCc1C72d3Bb8C189413'}]`.
2. Switch to newly added account.
3. Grant permis

[2019-11-27 10:22] Solexplorer commented on #120
Ok it's working for me on another PC by installing snaps-beta. Thanks for the help!

[2019-11-27 10:22] #120 closed, assigned to rekmarks

[2019-11-27 18:08] rekmarks commented on #10
Superseded by #94

[2019-11-27 18:08] #10 closed

[2019-11-27 19:47] danfinlay commented on #106
For the purpose of keeping this MetaMask support productive, I'd recommend keeping it agnostic to the exact messaging protocol: Snaps have access to the blockchain, and can request access to the network, so there are a lot of approaches possible, and we'd love to implement an agnostic and extensible approach to these.

For MetaMask to best support these various approaches, the biggest questions fo

[2019-11-27 20:22] rekmarks commented on #68
This issue has been updated to say that plugins must be "installed _and_ permitted" in order to be returned by the yet-to-be-implemented `wallet_getPlugins` method.

There's also a world where we modify the soon-to-be-implemented `wallet_installPlugins` to include a `force: boolean` parameter which will attempt to force plugin reinstallation. If that parameter is `false` and the plugin is already

[2019-11-27 23:30] haardikk21 commented on #106
I see two main approaches. Depending on whether this should be part of native MetaMask or remain a plugin.
**Natively**: A conversations/messages tab would be the best way. Could extend the side menu to include more options than the assets manager.
**Plugin**: There was talk at ETHWaterloo of allowing plugins to render their own HTML+CSS within Metamask. That could be utilised if this were to be a

[2019-11-28 18:27] robdefeo commented on #106
@danfinlay Its exciting to see your plans to build a permissionless extension. This would allow Mailchain and other messaging applications to using Metamask as a key building block.
I read your [Introducing Web3 Plugins article](https://medium.com/metamask/introducing-the-next-evolution-of-the-web3-wallet-4abdf801a4ee) and have looked through [snaps API wiki](https://github.com/MetaMask/metamask-s

[2019-11-29 03:05] ghost opened #125 "Feedback: Consider making "Snaps" Standard Packages"
I just realized that snaps use an own cli, and an own config file, which seems just "too much".

it would be preferable to let snaps be simple packages, which would make them 100% compatible to existent tool-chains and workflows. No need to explain, write workflows, maintain tools, docs etc. - simple use of npm/yarn.

Config could get in an additional section in "package.json", see:

https://stack

[2019-12-01 22:53] danfinlay commented on #106
Thanks for all the ideas, these are great, please do keep them coming!

A note to messaging protocols that are hoping to use on-chain data to send messages to MetaMask users, and receive them using a snap:

Today, MetaMask achieves pretty good performance (network, cpu, and energy) by "sleeping" when not active. This is because we are very much not a full client, or even a light client at the mome

[2019-12-03 17:42] danfinlay opened #126 "Enforce JSON serializability of snap state"
To prevent weird JSON mis-serialization issues, as well as other unexpected behavior.

[2019-12-04 22:28] danfinlay commented on #38
In that discussion, MarkM recommends using this membrane library, and writing "distortion definitions" for it:
https://github.com/caridy/secure-javascript-environment

[2019-12-06 00:08] xuhcc opened #127 "Extension fails to load"
**Describe the bug**

Extension fails to load: `Cannot read property 'methodNotFound' `

**To Reproduce**
Steps to reproduce the behavior:
1. Build extension from develop branch.
2. Load unpacked extension in Chrome.
3. Click on extension icon.
4. Popup window is blank.

**Expected behavior**

Extension should show the welcome page.

**Browser details (please complete the following information):**

[2019-12-06 00:42] rekmarks commented on #127
Can you please try the following two potential solutions?

1. Run `yarn install --force` then `yarn start`, and see if the error disappears
2. Go to `chrome://extensions`, remove the unpacked extension, then load the unpacked extension
  a. Make sure that `yarn start` is running the the extension root folder, and that the `dev:copy` task has finished before attempting to load the unpacked extensio

[2019-12-06 14:43] xuhcc commented on #127
Yes, here's the full stacktrace:
[code]

By the way, I usually use `yarn dist` to rebuild extension. Is there any significant difference between it and `yarn start`?

[2019-12-06 23:37] rekmarks commented on #127
Woah, our bad. We'd published a broken version of `rpc-cap`. That package is updated and this problem should never occur again. Thanks for bringing it to our attention!

[2019-12-06 23:37] #127 closed, assigned to nobody

[2019-12-08 22:07] crazyrabbitLTC opened #128 "Plugin Build hangs and never finishes."
**Describe the bug**
A clear and concise description of what the bug is.

Following the instructions:
[code]

The build process never completes. The last output of the build process from `yarn start` are:

[code]
Running the command with `--verbose` does not give more data.

**To Reproduce**
Steps to reproduce the behavior:

In my case, following the instructions here:
https://github.com/MetaMask/

[2019-12-09 17:28] danfinlay commented on #125
Snaps are already normal packages, the CLI tool simply helps build those packages into the right format, which is basically just an extra field on the `package.json`, as you suggest.

`snaps-cli` can be used as a build tool, and we are looking at eventually breaking it out so it can be used in a wider diversity of build processes, but for now, it is an MVP to facilitate the creation of proofs of c

[2019-12-09 19:51] danfinlay commented on #97
Related to our [persona EIP](https://github.com/Bunjin/EIPs/tree/persona-EIP).

[2019-12-09 23:25] xuhcc opened #129 "eth_accounts call throws "Unauthorized to perform action" error"
**Describe the bug**

Is it possible to use Metmask Beta with currently deployed dapps (like Uniswap)?

`eth_accounts` calls are failing with the following error message:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://uniswap.exchange/swap
2. Click on "Connect to a Wallet".
3. See the error in JS console.

**Expected behavior**

Metamask should show the "Connect Request" popup

[2019-12-10 03:29] ghost commented on #125
One more thing, re the naming (`snaps`), possible name-clashes:

* major: https://snapcraft.io/
* minor: https://unity.com/snaps

[2019-12-10 17:19] filips123 commented on #61
@danfinlay Firefox build is again missing from newsest releases. Can you add it back?

[2019-12-10 22:32] danfinlay commented on #97
New proposal: https://docs.google.com/document/d/1vrxRwR5oD2QWtBuDln0UoFgmbLdW685_XDzvbFLgUGE/edit#

[2019-12-11 03:28] rekmarks commented on #48
We'll just keep the `initialPermissions` in plugin controller state for now, under the category of "potentially useful/interesting manifest information."

[2019-12-11 03:28] #48 closed

[2019-12-11 17:55] rekmarks commented on #128
@crazyrabbitLTC, `start` is a watch script. The initial build is finished when the `dev:copy` and/or `dev:extension:js` tasks finish. On your system, at about the 50-second mark. If you don't want to watch for and rebuild on changes, you should interrupt the `start` script after those tasks finish. You can also run `yarn:dist` for a production build.

[2019-12-11 17:55] #128 closed, assigned to nobody

[2019-12-11 18:23] danfinlay opened #131 "Refactor proposal: Make an object to represent a single plugin"
Today the `plugins.js` controller has a series of maps that each point to the many plugins that it manages.

This means when we want to do things like unregister event listeners, we end up going down each of these maps, and unsetting them, and in general it means that data that really is per-plugin is sprawled across the code that applies to the entire plugins controller.

I think there is a clean

[2019-12-13 00:56] #27 closed

[2019-12-13 00:56] #94 closed, assigned to rekmarks

[2019-12-13 20:34] rekmarks opened #132 "Add `force` parameter for wallet_installPlugins"
The only reason for the `force` parameter to exist was for devX. It's so easy to clear plugin state that there isn't actually a need for this. What we actually need is #140. Closing.

### Original Comment
We should definitely not force plugin reinstallation by default in production, and it's probably time to stop doing it in beta. The only argument to keep it would be for devX, but clearing plugin

[2019-12-14 22:55] xuhcc commented on #129
This has been recently fixed on `develop`.

[2019-12-14 22:55] #129 closed, assigned to nobody

[2019-12-15 19:47] danfinlay opened #133 "Improve "illegal invocation" error message"
When SES throws an "illegal invocation" error, it would be very useful for a developer to know exactly what method was called in their stack that attempted something illegal.

Sample stack trace, that is very difficult to follow:

[code]

Caused by this code:

[code]

[2019-12-15 21:33] danfinlay opened #135 "Add low-resolution wrappers for timing functions"
We should not provide high-resolution timers to plugins, but some plugins do require a sense of time. For those, we should provide a low-resolution access to time, and probably make it a permission, too.

Added timers for beta purposes (ethers uses timers to monitor transaction completion) in https://github.com/MetaMask/metamask-snaps-beta/pull/134

[2019-12-16 15:27] danfinlay commented on #97
[Defining Personas](https://docs.google.com/document/d/1k8TSpx5g-bGLi-FaUgJUl8BH-qCJJwTvYMkqRVm2hPQ/edit#heading=h.d2mvwc5j53x6)

[2019-12-16 22:12] rekmarks opened #138 "Stop storing `approvedPermissions` in plugin controller"
Currently, the plugin controller stores a plugin's `approvedPermissions` in its own state. The permissions controller should _always_ be the single source of truth for the current state of permissions. The plugin controller should query the permissions controller whenever it initializes plugins.

[2019-12-16 22:16] rekmarks opened #139 "Changing a running plugin's permissions should always affect its API"
Currently, a plugin's API is generated at its initialization, and is effectively immutable. If we remove permissions from a running plugin, it will only be restricted from accessing those permissions if they correspond to RPC methods. Any methods it can call directly using e.g. global APIs, MetaMask APIs, or `capnode` will still work.

We should be able to dynamically restrict or expand a plugin's

[2019-12-16 22:23] danfinlay commented on #139
Related to (maybe duplicate of) #38.

We currently have no permissions system for JS APIs.

Was recently discussing the ideal schema with @kumavis. We were thinking of a few different approaches.

- Use a similar schema to [sesify-tofu](https://github.com/LavaMoat/sesify-tofu) (which itself needs expanding).
- Use a schema based on rpc-cap, but just use it to generate "disruptor functions", in the

[2019-12-17 16:58] rekmarks opened #140 "Add `require` parameter for wallet_installPlugins"
We should add a `require` parameter for `wallet_installPlugins` so that domains can request that a specific version of a plugin is installed. The user must install (or already have) a version of the plugin compatible with the semver string value of the `require` key in the request object. This probably requires proper plugin version management before we can meaningfully implement it.

Similarly, a

[2019-12-17 16:58] #132 closed, assigned to nobody

[2019-12-20 16:49] rekmarks opened #141 "Restructure plugin permissioning once the permissions system supports events and object APIs"
Plugins have and will continue to have permitted access to categories of things that `rpc-cap` was not designed to handle, e.g. events, object APIs (global or otherwise) etc. For example, see how we handle listeners for internal MetaMask events, see: https://github.com/MetaMask/metamask-snaps-beta/commit/679c9251b82f63d4d75ee399bb0f5d00d0ec16da

`rpc-cap` (or something else entirely) needs to add

[2019-12-20 16:49] rekmarks commented on #54
Per the following comment, we have already mapped event listeners to restricted methods: https://github.com/MetaMask/metamask-snaps-beta/pull/55#issuecomment-539765807

See #141 for the continuation of this issue.

[2019-12-20 16:49] #54 closed

[2019-12-20 17:08] rekmarks commented on #73
For whenever we decide to fix this, the popup closes due to `_closePopup` being called in `approvePermissionsRequest` or `rejectPermissionsRequest` in the permissions controller. `_closePopup` is called if the permission controller's `pendingApprovals.length === 0`.

To prevent the popup from being closed, we have to make the permissions controller wait for additional permissions requests (if any)

[2019-12-20 20:25] #5 closed

[2019-12-20 20:25] #68 closed, assigned to nobody

[2019-12-20 20:25] #99 closed, assigned to rekmarks

[2019-12-20 20:25] #138 closed, assigned to nobody

[2019-12-30 12:10] traumaxp opened #142 "Js Alert when I click on the send Hello Button"
I reproduced the steps to test an example but I have this error in a JS Alert when I click on the sendHello Btn

'Problem happened: The MetaMask Web3 object does not support synchronous methods like wallet_plugin_http://localhost:8081/package.json without a callback parameter.'

Thanks

[2019-12-31 07:34] craze3 opened #143 "wallet.addAddressAudit doesn't use correct "auditor""
When I try to use the `wallet.addAddressAudit` API, it only **sometimes** displays the auditor name I supplied in my `index.js`. The other times it still displays "Awesome Audits". Is this some sort of placeholder code that was never removed from the dev branch?

Every time I change my `index.js`, I re-run `mm-snap build` followed by `mm-snap serve`. Then, I delete all plugins from my MetaMask and

[2020-01-01 18:32] rekmarks commented on #142
Hi @GuillaumeFERNANDESXP, it sounds like you have the normal version of the extension loaded in the browser. Have you followed the steps in the Wiki?

https://github.com/MetaMask/metamask-snaps-beta/wiki/Getting-Started

[2020-01-01 19:04] rekmarks commented on #143
Hi, thank you for bringing this to our attention. I believe that the behavior you describe is due to the address audit state never being cleared. In addition, we may not be managing state for multiple different auditors correctly (or at all).

The address auditing functionality is still experimental, and we may not fully solve this problem at this time. See #144 for more details.

[2020-01-01 21:56] craze3 commented on #143
Thanks for the prompt response @rekmarks ! I pulled the latest changes (#144), did a rebuild, and reloaded the extension, but I'm still having the same problem.

If there's any way I can help, please let me know. Also curious if there is a community slack/chat i can join to chat with other MetaMask devs. Gitter appears dead...

[2020-01-01 22:15] rekmarks commented on #143
Hm. Did you clear permissions state using the "Delete All Permissions" button in the extension UI?

Also, for developer community, the most active channel right now is: https://t.me/mmsnaps

[2020-01-01 22:23] craze3 commented on #143
That fixed it! It's working, thanks so much guys. I am joining the telegram and closing this issue now. 🙏🏼

[2020-01-01 22:23] #143 closed, assigned to nobody

[2020-01-02 18:38] traumaxp commented on #142
Hi @rekmarks, it works very well, thanks !

[2020-01-02 18:38] #142 closed, assigned to nobody

[2020-01-07 16:19] allemanfredi opened #145 "Cannot read property 'addAsset' of undefined"
Hello!

I'm trying to develop a plugin for Metamask and after having received the following error:

```Cannot read property 'addAsset' of undefined```

I took a look at the code and i noticed that the instance of __`AssetsController`__  declared within __metamask-controller.js__, is declared after the __`PermissionsController`__ one,
which accesses __`this.assetsController`__ that has not yet been

[2020-01-08 16:06] rekmarks commented on #145
@allemanfredi Thank you for bringing this to our attention. Clearly we broke the initialization order at some point! Fixed in: 022230f

[2020-01-08 16:06] #145 closed, assigned to nobody

[2020-01-08 16:15] rekmarks commented on #125
We are aware of the points raised and appreciate the feedback, but I am closing this issue for lack of activity/actionability.

[2020-01-08 16:15] #125 closed, assigned to nobody

[2020-01-09 09:14] allemanfredi commented on #145
I would like to ask you another thing: is it currently possible to assign an image to a custom token? I followed your example but it doesn't seem to work... I looked at the code (__`token-list.js`__) and the map (__`assetImages`__) that should contain the reference to the image is empty.

[code]

[2020-01-21 21:10] ainsleys opened #146 "Mixing-service specific wallet functionality"
We ([Enigma](http://enigma.co/)) have been working on [Salad](https://github.com/enigmampc/salad), a decentralized mixing-service, as well as looking into the usability and functions of other mixers. In this process we have found significant usability issues that arise regardless of the technical approach to mixing (including centralized mixers, ad-hoc mixing behavior (such as sending to and from

[2020-01-22 13:43] xuhcc commented on #146
The concept of a "secret briefcase" is very interesting! I think it can be implemented as a [custom account](https://github.com/MetaMask/metamask-snaps-beta/pull/63), where plugin will manage all shielded addresses on user's behalf.

[2020-01-24 18:45] rekmarks commented on #146
Hi @ainsleys, thanks again for this writeup! I agree that a lot of the problems you describe have to be solved at the wallet layer. Some we've thought about before, some are new to us. For MetaMask's part, I believe that the plugin system can definitely play a role.

Since you mentioned Tornado, and since I know he has opinions, I'm going to try to summon @rstormsf to this issue.

On to your quest

[2020-01-28 17:34] rstormsf commented on #146
@rekmarks I think that a privacy wallet should differentiate between public accounts and private accounts. Private accounts should never have any incoming transactions(except the first one), only outgoing.
We are working on Tornado.cash v3 where we are going to try to solve those problems.
Once we understand a few basic UI flows, we will help everyone out there to show how we think privacy wallet

[2020-01-28 20:08] ainsleys commented on #146
Thanks for the comments, @rekmarks and for your response as well @rstormsf . I understand your position, and look forward to hearing what you all come up with.

I also agree w/ @rstormsf 's concept of private accounts. Putting rails like described on private accounts is probably the best way to help users act safely here. Is a custom account something that could handle this? Another idea is to hav

[2020-01-28 21:05] rekmarks commented on #146
I'd also like to thank @rstormsf for providing his thoughts.

Regarding your privacy-related questions @ainsleys, I'll try to account for my understanding. I apologize in advance if I'm explaining things that you already know.

AFAIK, all major Ethereum wallets that manage Externally Owned Accounts (EOAs) use the same BIP/SLIP standard to generate private keys for the user. The public key is deriv

[2020-01-28 22:49] danfinlay commented on #30
Fun find: at 23 minutes into this talk from 2002, Mark Miller suggests the same thing as you (add a special warning if gaining both disk and network access):
https://youtu.be/KoM_aCuFk1w

[2020-01-28 23:42] ainsleys commented on #146
Thanks @rekmarks for the deeper clarification-- with Salad, users should never send ether directly from coinbase to a "recipient address", or between addresses they own. This would as you say link the addresses. Instead, ether would go from one owned address to a pool and then on to another owned address. Someone observing the chain would not be able to distinguish this easily, because the funds a

[2020-01-29 00:36] rekmarks commented on #146
I agree, I was just mentioning that for completeness!

The problem with using SLIP44 accounts is that, when the user's Salad wallet generates those accounts, the user may have generated and used them in the past, and may generate and use them in the future.

You can of course stop accounts used in the past from being used by Salad by checking their history onchain, but there is nothing stopping an

[2020-01-29 00:45] ainsleys commented on #146
Ah, I understand. Thanks a lot for the clarification, I appreciate it. Yes, I agree-- if it is possible to do this with app keys, that would be very useful. It may be sufficient in early versions to explain to users the situation, and advise them to use caution if they are using multiple wallets with the same seed phrase.

[2020-01-29 00:49] rekmarks commented on #146
I swear I was going to include that key line in the original overlong response, but I forgot about it while writing the preamble :p

The app key proposals we have going should work out of the box for everyone when implemented. If any of y'all want to chime in on them, especially the protocol-agnostic one I mentioned in my first comment above, that'd be greatly appreciated!

[2020-01-29 06:18] wighawag commented on #30
Cool :)
It is crazy how much we need to re-learn/re-discover, no matter how much was already done.
I am really happy to know you are digging all that info :)

[2020-01-30 20:29] rstormsf commented on #146
@rekmarks
there is even a bigger problem: RPC endpoints.
When you change Account 1 to Account 2, you are querying `eth_balance`, nonce, etc on both of them to the same RPC endpoint, so the RPC owner can conclude that you are the owner of both of these accounts since the request originating from the same IP at the same time.
In metamask's case: infura. It knows waay too much about owners. Once they

[2020-01-30 21:13] rekmarks commented on #146
@rstormsf, I agree that not mentioning RPC endpoints is an oversight on my part. In any discussion about "who knows things about your Ethereum activity," we cannot leave out the RPC endpoint and in our case Infura.

[2020-02-07 02:07] rekmarks opened #148 "eth_signTypedData_v4 doesn't work"
**Describe the bug**

`eth_signTypedData_v4` is implemented in both the production and Snaps extension, but only works in the former. It does not work if called from snaps via `ethereum` or from Snaps via `wallet`. `eth_signTypedData_v3` works. Calling `eth_signTypedData` and specifying `version` on the `typedData` (2nd) param merely calls `eth_signTypedData` (V1).

**To Reproduce**

Websites:
`et

[2020-02-11 18:20] #148 closed, assigned to jennypollack

[2020-02-14 22:53] danfinlay opened #151 "Allow custom accounts to bypass the low funds warning"
Currently all custom account transactions first have a normal confirmation screen that uses all the normal policies, like enforcing a balance for gas.

Some custom accounts will be contract accounts, and these gas params don’t apply to them, so we need to allow them to skip or customize the gas inputs.

[2020-02-15 11:56] xuhcc opened #152 "Successful transaction reported as failed by custom account"
**Describe the bug**

Here's the code:

[code]

After returning from this account message handler, metamask throws an error:

[code]

**Browser details (please complete the following information):**
 - OS: Arch Linux
 - Browser: Chromium
 - MetaMask Version: develop / 220784cafd2e22bed083e385ef247810660966db

[2020-02-19 20:52] shanejonas opened #153 "self is not defined"
**Describe the bug**
I have a nested dependency that relies on `isomorphic-fetch`, which i'm unable to load inside `SES` due to `self` not being defined.

**To Reproduce**
Steps to reproduce the behavior:
1. Use `snaps-cli` to init a new project
2. Add `const supported = "URLSearchParams" in self;` to the code
3. See error

**Expected behavior**
As defined in the spec, `self` should exist and be t

[2020-02-19 21:02] shanejonas opened #154 "custom-accounts signTransaction requires the same instance of ethTx"
Further up in the stack it looks **ONLY** at the reference to `ethTx`. Which gets lost when passed to a custom-account's `eth_signTransaction`:

line `447` just passes in `ethTx` and does not expect any result. just that the reference to `ethTx` changes

https://github.com/MetaMask/metamask-snaps-beta/blob/220784cafd2e22bed083e385ef247810660966db/app/scripts/controllers/transactions/index.js#L446-

[2020-03-11 12:54] milonite opened #155 "Yarn 2 install fails"
While installing the packages with yarn install I get the following error:

Script name: install
SyntaxError: Expected "$", "$(", "${", "'", "\"", "\\", or [ \t] but "&" found (line 1, column 36).
    at Xe (/home/user123/Documents/metamask-snaps/.yarn/releases/yarn-berry.js:36:319546)
    at Object.parse (/home/user123/Documents/metamask-snaps/.yarn/releases/yarn-berry.js:36:328965)
    at Object

[2020-03-11 13:13] milonite commented on #64
Would it make sense to prevent people to use npm in this case?
Something like
 "engines": {
    "npm": "please-use-yarn",
    "node": "^10.16.0",
    "yarn": "^1.16.0"
  }

And
engine-strict = true in .npmrc

[2020-03-11 14:06] Gudahtt commented on #155
I'm not sure why that doesn't work - I've never tried building with Yarn 2. We don't currently support using Yarn 2 to build the project though - we use Yarn v1, version 1.16 or greater ([see here](https://github.com/MetaMask/metamask-snaps-beta/blob/develop/package.json#L310))

[2020-03-11 14:20] milonite commented on #155
yes, I switched to yarn 1.22.0 and works fine. Maybe this can be added to the documentation or enforced in the package.json engines with yarn<2.0.0

[2020-03-11 14:20] #155 closed, assigned to nobody

[2020-03-11 14:42] Gudahtt commented on #155
Enforcement of the `engines` field is (as far as I know) at the discretion of the package manager you're using, which is a bit of a problem in this case since it's crashing 😅.

I don't have time to look into this now, but ideally I'd like to see if we can fix this first before we decide to document it as a problem. Unless it's a difficult one to solve anyway.

This problem aside, I think another a

[2020-03-12 00:43] kumavis commented on #64
relevant https://github.com/MetaMask/metamask-snaps-beta/issues/155

[2020-04-03 08:37] mpetrunic opened #156 "Snap installation configuration"
**What problem are you trying to solve?**
Snap for different chains should be configurable for different networks (testnet1, testnet2, mainnet).

**Describe the solution you'd like**
I would propose adding params to snap installation on app side:
[code]
And on snap side:
[code]

**Additional context**
It would probably be best if Metamask would wait till `onInstall` callback finishes before resolv

[2020-05-13 07:34] mpetrunic opened #158 "Long snap urls breaks permission screen"
**Describe the bug**
A clear and concise description of what the bug is.
If snap is using long urls as origin (ipfs in this case) it breaks UI of confirmation screen

**To Reproduce**
Steps to reproduce the behavior:
1. Install snap using origin: "https://ipfs.infura.io/ipfs/QmXTu32iPygL2LTvidc4YkpHCoTarDZS2Ks6fa7LVwPVD3"
2. Connect

**Expected behavior**
A clear description of what you expected t

[2020-05-26 12:56] MakMuftic commented on #133
This would be great, it is really hard to get some useful information from the stack currently.

[2020-06-01 07:53] mpetrunic opened #159 "Method for requesting metamask unlock"
**What problem are you trying to solve?**
As it currently stands, if user is logged out of metamask and we try to invoke some method on snap that requires app seed, Metamask won't prop for password like it would do if normal ethereum dapp
want's to sign tx.

**Describe the solution you'd like**
Either adding method inside snap that we can call to prompt user for metamask unlock or prompt password

[2020-08-31 16:35] danfinlay opened #161 "Remove as many global endowments as possible"
In particular `setTimeout` and `setInterval` are themselves evaluators, and so can lead to sandbox escapes, and so we should not expose them without attenuating them into a new form.

We could also provide proxies of those functions that:
- [ ] Require the first arg is a function.
- [ ] Increase the minimum granularity of the timing

[2020-09-02 09:56] kumavis opened #163 "timer functions in browser are evaluators meaning they are container escapes"
replace with functions that enforce the argument to be a function (not a string)

[2020-09-02 11:19] kumavis commented on #135
i assume this is related to timing attacks, including spectre style vulns

[2020-09-02 11:21] kumavis commented on #102
merged here https://github.com/MetaMask/metamask-snaps-beta/pull/162

[2020-09-02 11:21] #102 closed, assigned to nobody

[2020-09-02 11:33] kumavis opened #165 "identify and constrain other timers"
categorically related to #135

`Date` and all sort of platform apis can provide subtle timers.
we should make a decent effort to constrain them, and then process-separate as possible

[2020-09-02 12:17] #153 closed, assigned to nobody

[2020-09-02 12:17] #163 closed, assigned to nobody

[2020-09-02 12:17] #135 closed, assigned to nobody

[2021-04-14 01:23] danfinlay opened #170 "Try out agoric's bundle-source and import-bundle"
As part of endo, agoric is developing [bundle-source](https://github.com/Agoric/agoric-sdk/tree/master/packages/bundle-source) and [import-bundle](https://github.com/Agoric/agoric-sdk/tree/master/packages/import-bundle), which is intended to do a lot of what our Snaps bundle format is doing, but preserves much better debugging (like preserving line numbers).

We are unsure if these tools will work

[2022-01-24 22:08] rekmarks commented on #46
No longer relevant.

[2022-01-24 22:08] #46 closed

[2022-01-24 22:09] rekmarks commented on #38
The new `PermissionController` has a feature that enables this.

[2022-01-24 22:09] #38 closed

[2022-01-24 22:10] rekmarks commented on #31
This issue seems particular to this repo, and we therefore won't fix it.

[2022-01-24 22:10] #31 closed

[2022-01-24 22:12] rekmarks commented on #6
This (very complex issues) is tracked elsewhere.

[2022-01-24 22:12] #6 closed

[2022-01-24 22:14] rekmarks commented on #104
We did this elsewhere: https://github.com/MetaMask/snaps-skunkworks/blob/32843a7f58e3274f70abb58c4ef284fc53e146e0/packages/rpc-methods/src/restricted/getBip44Entropy.ts

[2022-01-24 22:14] #104 closed, assigned to nobody

[2022-01-24 22:19] rekmarks commented on #103
Custom assets is a highly complex feature currently at the design stage and will be tracked elsewhere.

[2022-01-24 22:19] #103 closed, assigned to nobody

[2022-01-24 22:31] rekmarks commented on #93
This has been done as of the `v0.1` snaps manifest: https://github.com/MetaMask/specifications/blob/d4a5bf5d6990bb5b02a98bd3f95a24ffb28c701c/snaps/publishing.md

[2022-01-24 22:31] #93 closed, assigned to nobody

[2022-01-24 22:32] rekmarks commented on #89
At present snaps are terminated if they remain idle (do not receive any messages) for a sufficiently long time, which we will consider the solution to this problem.

[2022-01-24 22:32] #89 closed, assigned to rekmarks

[2022-01-24 22:33] rekmarks commented on #88
At present, snap persistent storage is separate, and we will track any further changes to / problems with the present solution elsewhere.

[2022-01-24 22:33] #88 closed, assigned to rekmarks

[2022-01-24 22:33] rekmarks commented on #85
No longer relevant.

[2022-01-24 22:33] #85 closed, assigned to nobody

[2022-01-24 22:34] rekmarks commented on #83
No longer relevant.

[2022-01-24 22:34] #83 closed, assigned to jennypollack

[2022-01-24 22:35] #78 closed, assigned to Bunjin

[2022-01-24 22:36] rekmarks commented on #75
No longer relevant.

[2022-01-24 22:36] #75 closed, assigned to rekmarks

[2022-01-24 22:37] rekmarks commented on #74
Not specific to snaps, tracked elsewhere.

[2022-01-24 22:37] #74 closed, assigned to nobody

[2022-01-24 22:38] rekmarks commented on #73
Tracked elsewhere.

[2022-01-24 22:38] #73 closed, assigned to nobody

[2022-01-24 22:38] rekmarks commented on #72
No longer relevant.

[2022-01-24 22:38] #72 closed, assigned to nobody

[2022-01-24 22:38] rekmarks commented on #71
We've done this on the production extension for some time.

[2022-01-24 22:38] #71 closed, assigned to nobody

[2022-01-24 22:39] rekmarks commented on #69
Part of some future app key epic that we will track elsewhere through other means.

[2022-01-24 22:39] #69 closed, assigned to nobody

[2022-01-24 22:42] rekmarks commented on #52
This has been done.

[2022-01-24 22:42] #52 closed

[2022-01-24 22:42] rekmarks commented on #47
This has been done.

[2022-01-24 22:42] #47 closed

[2022-01-24 22:44] rekmarks commented on #111
Complex feature that will be tracked elsewhere.

[2022-01-24 22:44] #111 closed, assigned to nobody

[2022-01-24 22:45] rekmarks commented on #117
No longer relevant.

[2022-01-24 22:45] #117 closed, assigned to nobody

[2022-01-24 22:46] rekmarks commented on #118
No longer relevant.

[2022-01-24 22:46] #118 closed, assigned to rekmarks

[2022-01-24 22:47] rekmarks commented on #121
`@metamask/snaps-cli` supports Windows at the time of writing.

[2022-01-24 22:47] #121 closed, assigned to nobody

[2022-01-24 22:49] rekmarks commented on #124
No longer relevant, as whatever custom accounts API we end up shipping is unlikely to work the way it did on this beta. Ref: https://docs.metamask.io/guide/snaps.html

[2022-01-24 22:49] #124 closed, assigned to nobody

[2022-01-24 22:51] rekmarks commented on #133
At the time of writing, SES error stacks are in a very different state than they were in early/mid-2020, and we will track devX issues of this nature elsewhere.

[2022-01-24 22:51] #133 closed, assigned to nobody

[2022-01-24 22:52] rekmarks commented on #139
No longer relevant.

[2022-01-24 22:52] #139 closed, assigned to nobody

[2022-01-24 22:52] rekmarks commented on #140
Tracked elsewhere.

[2022-01-24 22:52] #140 closed, assigned to nobody

[2022-01-24 22:52] rekmarks commented on #141
No longer relevant.

[2022-01-24 22:52] #141 closed, assigned to nobody

[2022-01-24 22:53] rekmarks commented on #151
No longer relevant.

[2022-01-24 22:53] #151 closed, assigned to nobody

[2022-01-24 22:54] rekmarks commented on #152
We will ship custom accounts using a completely different API at some point in the future. This repo will soon be archived, and I will close this issue for now.

Ref: https://docs.metamask.io/guide/snaps.html

[2022-01-24 22:54] #152 closed, assigned to nobody

[2022-01-24 22:54] rekmarks commented on #154
We don't do custom accounts with the current version of the system and won't fix this issue. Ref: https://docs.metamask.io/guide/snaps.html

[2022-01-24 22:54] #154 closed, assigned to nobody

[2022-01-24 22:56] rekmarks commented on #156
I don't think this is relevant for the current state of the system, and any configuration internal to a snap should be handled by the snap itself after being enabled via its own JSON-RPC interface.

[2022-01-24 22:56] #156 closed, assigned to nobody

[2022-01-24 22:57] rekmarks commented on #158
This should hopefully not be the case in the current system, but if it is, an issue should be created on the metamask-extension repo.

[2022-01-24 22:57] #158 closed, assigned to nobody

[2022-01-24 22:57] rekmarks commented on #161
No longer relevant.

[2022-01-24 22:57] #161 closed, assigned to nobody

[2022-01-25 01:30] rekmarks commented on #62
@Jack-Works @Tedko I'm going to close this issue since I'm about to archive this repository, but if you are still interested in building a Maskbook snap and documenting your present requirements, please open an issue in https://github.com/MetaMask/snaps-skunkworks.

[2022-01-25 01:30] #62 closed, assigned to nobody